<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<h1><%= title %></h1>
		<ul>
			<% messages.map(message => { %>
			<li>
				<h2><%= message.user %></h2>
				<p><%= message.text %></p>
				<span><%= message.added %></span>
			</li>
			<% }); %>
		</ul>
	</body>
</html>
